<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard - Indian Creek Cycle Rentals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="admin.css" />
</head>
<body class ="admin-page">



  <header class="navbar">
    <div class="logo">
        <a href="index.html">
          <img src="media/logo.png" alt="Indian Creek Cycle Rentals logo">
        </a>
      </div>

   <nav class="center-nav">
    <a class="nav-link" href="index.html">Public Site</a>
  </nav>

  <div class="right-nav">
    <div class="dropdown">
    <span class="admin-badge">Admin Panel</span>
    <div class="dropdown-content">
    <a href="bike_inventory.html">Manage Bikes</a>
    <a href="reservations.html">View Reservations/Rentals</a>
    <a href="availability.html">Update Availability</a>
    <a href="index.html">Home</a>
  </div>
    </div>
    <button id="darkModeBtn" aria-label="Toggle dark mode">🌙</button>
  </div>
</header>

 



  

  


<section class="features">

   <h1>Admin Dashboard</h1>
  <p>Manage bikes, rentals, and availability.</p>
  <br>
  <br>
  <h2>Quick Actions</h2>

  <div class="feature-box">
    <div class="card">
      <h3>Bikes</h3>
      <p>Add, edit, or remove bikes.</p>
      <a class="action-btn" href="bike_inventory.html">Manage Bikes</a>
    </div>

    <div class="card">
      <h3>Rentals</h3>
      <p>View upcoming and active rentals.</p>
      <a class="action-btn" href="reservations.html">View Rentals</a>
    </div>

    <div class="card">
      <h3>Availability</h3>
      <p>Mark bikes available / unavailable.</p>
      <a class="action-btn" href="Availability.html">Update Availability</a>
    </div>
  </div>
</section>
<footer class="site-footer">
    <p>© 2026 Indian Creek Cycle Rentals</p>
    
  </footer>



<script src="script.js"></script>

</body>
</html>